.flex-container_list {
    display: flex;
    flex-direction: row;
    justify-content: stretch; 
    height: 100%;
  }

.left-panel {
    display: flex;
    border-right: 1px lightgrey solid ;
    flex-direction: column;
    align-items: stretch;
    font-size: 28px;
    width: 48px;
}

.center-panel {
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: stretch;
  align-items: stretch;
}

@media (min-width: 660px) {
    .right-panel { 
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-self: stretch;      
      width: 360px;
  }
  .userInfo{
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-self: stretch;   
  }
    .one-panel {
      border-bottom: 1px lightgrey solid ;
      display: flex;
      flex-direction: row; 
      justify-content: center;
      flex: auto;
      /* padding: 20px;  */
      /* height: 130px; */
  }

    .two-panel {
      flex-direction: column;
      border-bottom: 1px lightgrey solid;
      flex: auto;
  }

  .right-panel > .three-panel {
      flex-direction: column;
      border-left: 1px lightgrey solid ;
      flex: 1;
  }
}

@media (max-width: 659px) {
  .right-panel {
      width: 0px;
  }
}

.flex-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  
}  
.flex-item {
  flex: auto;
}

.flex-menu > .raw-item {
}
.flex-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}




.md-18 { font-size: 18px; }
.md-28 { font-size: 28px; }
.md-32 { font-size: 32px; }
.md-36 { font-size: 36px; }
.md-48 { font-size: 48px; }

.margin-18 {margin: 18px}